@charset "utf-8";

.jjim_container{
	width: 100%;
}

.jjim_inner{
	width: 800px;
	margin: 0 auto;
}

.jjim_inner a{
	color: black;
	text-decoration: none;
}

.jjim_inner a:hover{
	color: black;
	text-decoration: none;
}

.jhr1{
	width:100%;
	border: solid 1px black; 

}
.jhr2{
	width:100%;
	border-bottom: 3px solid #fff;
	float: left;
}

.jtitle{
	margin-top:5%;
	font-size: 1.5em;
	margin-left: 2%;	
	
}

.jbtn{
	margin-right: 10%;

}
.jbtn{
	
 	width: 100px;
 	height: 35px;
 	background-color: white;
 	border-radius: 5px;
 
 	font-size: 10pt; 
 	font-weight: bold;
 	
 	float: right;
}

.jbtnAll{
	float:right;	
}

 .jdel{
	margin-bottom: 5px;
	border: 1px solid #bbb; 
	color: #2E2E2E;
}
.jcart{
	border: 1px solid #4B62D3; 
	color: #4B62D3;
}

.jcontext{
	margin-left: 5%;
	font-size: 13pt;
	float: left;
	text-align: left;
}

.jprice{
	font-weight: 550;
}


.jjim-img{
	width:  60px;
	float: left;
	margin-left: 2%;
}

.jprice_orin strike{
	font-size: 9pt;
	color: lightgray;
}

.off{
	font: 10pt;
	color: red;
	font-weight: bold;
}

/* ********페이징******** */

.pagination1 {
	display: inline-block;
	display: flex;
	justify-content: center;
}

.pagination1 a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 5px;
}

.pagination1 a.active {
	background-color: #4B62D3;
	color: white;
	border-radius: 5px;
}

.pagination1 a:hover:not(.active) {background-color: #ddd;}
